name: Publish

on:
  release:
    types: [published]

jobs:
  publish-npm:
    name: "Publish to npm"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          node-version: "lts/*"
          registry-url: https://registry.npmjs.org/

      - run: npm install
        env:
          REMIX_TOKEN: ${{ secrets.REMIX_TOKEN }}

      - run: npm run build
        env:
          REMIX_TOKEN: ${{ secrets.REMIX_TOKEN }}

      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          REMIX_TOKEN: ${{ secrets.REMIX_TOKEN }}